services:
    _defaults:
        autowire: true
        autoconfigure: true

    OHMedia\UtilityBundle\:
        resource: '../src/'
        exclude:
            - '../src/Entity/'
            - '../src/OHMediaUtilityBundle.php'

    OHMedia\UtilityBundle\EventListener\BlamePrePersist:
        tags:
            -
                name: 'doctrine.event_listener'
                event: 'prePersist'

    OHMedia\UtilityBundle\EventListener\BlamePreUpdate:
        tags:
            -
                name: 'doctrine.event_listener'
                event: 'preUpdate'

    OHMedia\UtilityBundle\Form\Extension\GuessAttributesExtension:
        tags: ['form.type_extension']
        arguments: ['@form.type_guesser.validator']
