services:
    OHMedia\UtilityBundle\Service\EntityIdentifier:
        autowire: true

    OHMedia\UtilityBundle\Service\EntitySlugger:
        autowire: true

    OHMedia\UtilityBundle\Service\Uniq:
        ~

    OHMedia\UtilityBundle\Twig\UtilityExtension:
        autowire: true
        tags: ["twig.extension"]

    OHMedia\UtilityBundle\Service\Blamer:
        autowire: true
        arguments: ["@security.token_storage"]

    OHMedia\UtilityBundle\EventListener\BlamePrePersist:
        autowire: true
        tags:
            -
                name: 'doctrine.event_listener'
                event: 'prePersist'

    OHMedia\UtilityBundle\EventListener\BlamePreUpdate:
        autowire: true
        tags:
            -
                name: 'doctrine.event_listener'
                event: 'preUpdate'

    OHMedia\UtilityBundle\Form\Extension\GuessAttributesExtension:
        tags: ['form.type_extension']
        arguments: ['@form.type_guesser.validator']

    OHMedia\UtilityBundle\Form\Extension\RemoveCarriageReturnExtension:
        tags: ['form.type_extension']

    OHMedia\UtilityBundle\Service\EntityPathManager:
        autowire: true

    oh_media_utility.entity_path_manager: '@OHMedia\UtilityBundle\Service\EntityPathManager'
