services:
    _defaults:
        autowire: true
        autoconfigure: true

    OHMedia\UtilityBundle\:
        resource: '../src/'
        exclude:
            - '../src/Entity/'
            - '../src/OHMediaUtilityBundle.php'

    OHMedia\UtilityBundle\EventListener\BlamePrePersist:
        autowire: true
        tags:
            -
                name: 'doctrine.event_listener'
                event: 'prePersist'

    OHMedia\UtilityBundle\EventListener\BlamePreUpdate:
        autowire: true
        tags:
            -
                name: 'doctrine.event_listener'
                event: 'preUpdate'

    # alias used in EntityPathPass
    oh_media_utility.entity_path_manager: '@OHMedia\UtilityBundle\Service\EntityPathManager'
